/* custom-styles.css */

.navbar {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.navbar.dark {
  background-color: #0f0906;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover {
  color: #aaa;
}


